body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: "#eee"
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #008080;
}

.nav-link{
  color: #ffffff;
  
  
}

.navbar-brand{
  color: #ffffff;
  margin-left: 1%;

}

.navbar-nav{
  margin-left: auto;
}

.smalling{
  height: 200px;
  width: 100%;
  border-radius: 5px;
}

h1{
  font-size: 24px;
}
.btn{
  background-color:#008080;
  color: white;
  margin-right: 10px;
}

.bs{
  box-shadow: rgba(100 112, 115, 0.3) 0px 8px 28px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
}

h1{
  font-size: 22px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
p{
  margin-bottom: 5px;
  font-size: medium;
}

.bigimg{
  height: 350px;
}

.description{
  margin-top: 10px;
  font-weight: 500;
  font-style: italic;
}

img{
  border-radius: 5px;
}

.BeatLoader{
  text-align: center;
}
.form-control{
  margin-top: 20px;
  margin-bottom: 20px;

}